.chrono-race-app {
  background-color: $white;

  p {
    margin: 0px 0 5px;
  }

  .label {
    font-size: inherit;
    font-weight: normal;
    color: inherit;
  }

  .stronger {
    font-weight: bolder;
  }

  input {
    border-width: 1px;
    border-style: inset;
    border-color: $primary-color;
    padding-left: 5px;
  }
  input:focus {
    outline: none;
    border-color: $primary-color-darkest;
  }

  .container {
    color: $body-color;
  }

  .navbar {
    background-color: $header-bg;
    color: $header-color;

    .navbar-brand {
      color: $primary-color-light;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  .jumbotron {
    padding-bottom: 4px;
    margin-bottom: 20px;
    background-color: $jumbotron-bg;
  }

  .btn-primary {
    color: $black;
    background-color: $accent-light;
    border-color: $primary-color-darker;
  }
  .btn-primary:focus,
  .btn-primary.focus,
  .btn-primary:active,
  .btn-primary.active,
  .btn-primary:hover {
    color: $black;
    background-color: $accent;
    border-color: $primary-color-darkest;
  }

  .btn-success {
    color: $black;
    background-color: $primary-color;
    border-color: $primary-color-dark;
  }
  .btn-success:focus,
  .btn-success.focus,
  .btn-success:active,
  .btn-success.active,
  .btn-success:hover {
    background-color: $primary-color-darkish;
    border-color: $primary-color-darker;
  }

  .btn-default {
    color: $black;
    background-color: $primary-color-lightest;
    border-color: $primary-color-light;
  }
  .btn-default:focus,
  .btn-default.focus,
  .btn-default:active,
  .btn-default.active,
  .btn-default:hover {
    background-color: $primary-color-lighter;
    border-color: $primary-color-lightish;
  }
}