.chrono-race-app .race {
  .group {
    //margin-bottom: 15px;

    .group-number {
      font-weight: bold;
    }

    .btn.group-actions {
      margin-left: 15px;
      line-height: 1;
    }
  }

  .teams {
    .team {
      margin-top: 5px;
      padding-bottom: 10px;

      .team-number {
        display: inline-block;
        width: 30px;
      }

      .chrono-actions {
        display: inline;
        margin-left: 10px;

        .chrono-action {
          margin-right: 5px;
          font-size: 14px;
          line-height: 1;
          padding: 5px 7px;
        }
      }

      .chrono-meter {
        margin: 0px;
      }
    }

    .team.finished {
      .team-name {
        display: inline-block;
        width: 200px;
      }
    }
  }
}