.chrono-race-app .setup {
  .group {
    margin-bottom: 15px;

    .group-number {
      font-weight: bold;
    }
  }

  .group-actions {
    .btn {
      margin-left: 15px;
    }
  }

  .main-actions {
    .btn {
      margin-top: 20px;
    }
  }
}