$black: #000000;
$white: #FFFFFF;
$gray: #F2F1E6;

// lime color palette
$primary-color-lightest: #F0F4C3;
$primary-color-lighter: #E6EE9C;
$primary-color-light: #DCE775;
$primary-color-lightish: #D4E157;
$primary-color: #CDDC39;
$primary-color-darkish: #C0CA33;
$primary-color-dark: #AFB42B;
$primary-color-darker: #9E9D24;
$primary-color-darkest: #827717;

$accent-light: #F4FF81;
$accent: #EEFF41;

$body-color: $primary-color-darkest;

$header-bg: $primary-color-darkest;
$header-color: $white;

$jumbotron-bg: $primary-color-lightest;